  <div class="container">
  <h1>Please fill in details to create a new user account</h1>

  <form class = "p-4" action="/users" method="post">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </p>
  
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </p>
  
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </p>
  
  
  <button type="submit" class="btn btn-primary btn-lg active">Signup</button>

  </form>
  </div>
